.budget-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.budget-item-bar {
    width: 90%;
    height: 20px;
    border: 1px solid black;
}