:root {
    --choiceBtnInactiveColor: white;
    --choiceBtnActiveColor: lightblue;
    --choiceBtnBorderColor: rgba(48, 42, 42, 0.20);
}

.choice-button {
    background-color: var(--choiceBtnInactiveColor);
    border: 1px solid var(--choiceBtnBorderColor);
    border-radius: 5px;
    height: 20px;
    padding-top: 5px;
    margin: 1% 1%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.choice-btn-hover {
    opacity: 80%;
}

.choice-btn-active {
    background-color: var(--choiceBtnActiveColor);
}

.button-text {
    font-size: 10px;
}