.budget-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.budget-page,
.summary-item1,
.summary-item2,
.summary-item3 {
    height: 500px;
    
}

.budget-page {
    max-width: 600px;
    min-width: 400px;
    border: 1px solid var(--lightBorder);
    margin: 0px auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}
