.expense-table {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1000px;
    border: 1px solid var(--lightBorder)
}

.expense-entry,
.expense-headers {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border: 1px solid var(--lightBorder);
    padding-left: 13%;
}

.expense-headers {
    background-color: rgba(173, 216, 230, 0.4);
}

.expense-filter {
    background-color: rgba(173, 216, 230, 0.2);
}

.expense-entry .column,
.expense-headers .column {
    width: 23%;
}

.expense-entry .delete {
    text-align: right;
    font-size: 18px;
    color:rgba(0, 0, 0, 0.3);
}

.expense-entry .delete:hover {
    font-weight: bold;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.4);
}

.expense-entry:hover {
    background-color: rgba(173, 216, 230, 0.15);
    cursor: pointer;
}

.expense-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.expense-filter .button {
    margin: 0px auto;
}
