.expense-table {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1000px;
    border: 1px solid var(--lightBorder)
}

.expense-entry,
.expense-headers {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border: 1px solid var(--lightBorder);
    padding-left: 13%;
}

.expense-entry div,
.expense-headers div {
    width: 25%;
}

.expense-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.expense-filter div {
    width: 25%;
}